<!DOCTYPE html>
<html>
<head>
    <title>Hello></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<% items.flat().forEach(function(item) { %>
<ul class="user-info">
<!--    <li>first name: <%= item.first_name%> last name: <%= item.last_name%> email: <%= item.first_name%> </li>-->
    <li> <%= item.first_name%>  "-" <%= item.first_name%> </li>
</ul>+
<% })%>

</body>
</html>
